{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JyMDCleanning{% endblock %}</title>
    
    <link rel="stylesheet" href={% static '/styles.css' %}>
    <link rel="icon" href="{% static 'img/icons/icon0.png' %}" type="image/x-icon">
</head>
<body>
    
    
    <div class="wrapper">
        <header>
            <table class="header-table">
                <tr>
                    <td class="icon">
                        <!--{% static 'images/icon.png' %}-->
                        <img id="header-icon" title="JyMCleanning" src="{% static 'img/icons/icon0.png' %}" >
                    </td>
                    <td>
                        <!-- onclick="location.href='{{ url }}'" -->
                        {% if language == 'en' %}
                            <nav>
                                <ul class="nav-menu">
                                    <li><a href="/" id="ini">Start</a></li>
                                    <li><a href="/acerca">About us</a></li>
                                    <li><a href="/servicios">Service</a></li>
                                    <li><a href="{% url 'home' %}#contact">Contact</a></li>
                                    <li><a href="/terminos">Terms and Conditions</a></li>
                                    <li><a href="{% url 'change_language' %}">Translate</a></li>
                                </ul>
                            </nav>
                        {% else %}
                            <nav>
                                <ul class="nav-menu">
                                    <li><a href="/" id="ini">Inicio</a></li>
                                    <li><a href="/acerca">Acerca de</a></li>
                                    <li><a href="/servicios">Servicios</a></li>
                                    <li><a href="{% url 'home' %}#contact">Contacto</a></li>
                                    <li><a href="/terminos">Términos y condiciones</a></li>
                                    <li><a href="{% url 'change_language' %}">Traducir</a></li>
                                </ul>
                            </nav>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </header>
    
        <main>
            {% block content %}
            <!-- Contenido -->
            {% endblock %}
        </main>


        <!-- Form User-->
        <!--
        <div class="form-container">
            <h2>Dejanos tu mensaje!</h2>
            <form action="#" method="post">
                
                <input type="text" id="name" name="name" placeholder="Nombre" required>
                
                
                <input type="email" id="email" name="email" placeholder="Correo Electrónico" required>
                
                
                <input type="text" id="subject" name="subject" placeholder="Asunto" required>
                
                
                <textarea id="message" name="message" rows="4" placeholder="Mensaje" required></textarea>
        
                <button type="submit">Enviar</button>
            </form>
        </div>
        -->
        



        <!-- Fin Form User-->
        
            <footer>
                {% if language == 'en' %}
                    <nav class="navbar">
                        <table class="nav-table">
                            <tr>
                                <td class="menu-container">
                                    <ul class="custom-menu">
                                        <li><a href="/">Start</a></li>
                                        <li><a href="/acerca">About us</a></li>
                                        <li><a href="/servicios">Service</a></li>
                                        <li><a href="{% url 'home' %}#contact">Contact</a></li>
                                        <li><a href="/terminos">Terms and conditions</a></li>
                                    </ul>
                                </td>
                                <td class="contact-info">
                                    <img id="header-icon" class="icon" title="JyMCleanning" src="{% static 'img/icons/icon0.png' %}" >
                                </td>
                            </tr>
                        </table>
                    </nav>

                    <h2>Around us!</h2>
                    <div class="icon-container">
                        
                        
                        <a href="https://www.facebook.com/profile.php?id=61563778132664">
                            <img src="{% static 'img/icons/face-bw.png' %}" alt="Facebook" >
                        </a>
                        <a href="https://www.instagram.com/cleannigjmd/">
                            <img src="{% static 'img/icons/insta-bw.png' %}" alt="Instagram">
                        </a>
                        <a href="https://x.com/cleaningJMD7">
                            <img src="{% static 'img/icons/twi-bw.png' %}" alt="LinkedIn">
                        </a>
                        
                    </div>
                    
                    <p>   
                        © 2024 J&MD Cleaning is a registered trademark and has All rights reserved, Official website.
                    </p>
                {% else %}
                    <nav class="navbar">
                        <table class="nav-table">
                            <tr>
                                <td class="menu-container">
                                    <ul class="custom-menu">
                                        <li><a href="/">Inicio</a></li>
                                        <li><a href="/acerca">Acerca de</a></li>
                                        <li><a href="/servicios">Servicios</a></li>
                                        <li><a href="{% url 'home' %}#contact">Contacto</a></li>
                                        <li><a href="/terminos">Términos y condiciones</a></li>
                                    </ul>
                                </td>
                                <td class="contact-info">
                                    <img id="header-icon" class="icon" title="JyMCleanning" src="{% static 'img/icons/icon0.png' %}" >
                                </td>
                            </tr>
                        </table>
                    </nav>
                    
                    <h2>Alrededor de nosotros!</h2>
                    <div class="icon-container">
                        
                        
                        <a href="https://www.facebook.com/profile.php?id=61563778132664">
                            <img src="{% static 'img/icons/face-bw.png' %}" alt="Facebook" >
                        </a>
                        <a href="https://www.instagram.com/cleannigjmd/">
                            <img src="{% static 'img/icons/insta-bw.png' %}" alt="Instagram">
                        </a>
                        <a href="https://x.com/cleaningJMD7">
                            <img src="{% static 'img/icons/twi-bw.png' %}" alt="LinkedIn">
                        </a>
                        
                    </div>
                    
                    

                    <p>   
                        © 2024 JyMCleanning es una marca registrada y tiene Todos los derechos reservados, Oficial web. 
                    </p>
                {% endif %}
            </footer>
        
            

        
    </div>
</body>
</html>