{% extends 'base.html' %}
{% load static %}

{% block title %}Acerca de - J&MDCleanning{% endblock %}

{% block content %}
    <center>
        <div class="cajonD">
            <!--acerca de nosotros-->
            <h1>Quiénes Somos</h1>
                <br>
            <p style="max-width: 900px;">
                Bienvenidos a J&MDCleaning, su aliado en servicios de limpieza profesional. Somos un equipo 
                dedicado y experimentado con más de 20 años de trayectoria en la industria, enfocados en 
                ofrecer soluciones de limpieza de alta calidad para mejorar su entorno y bienestar. 
                Entendemos lo valioso que son sus artículos como alfombras, muebles, cortinas y colchones, y 
                lo costoso que puede ser reemplazarlos. Por eso, brindamos un excelente servicio de limpieza, 
                asegurando que nuestros productos y métodos son ideales para restaurar la belleza y extender 
                la vida útil de sus pertenencias, devolviendo su color vibrante, sensación de felpa y atractivo 
                original.


            </p>
            <img src="{% static 'img/cerca/ejemplo.png' %}" >
    
                <hr class="hR">
            
            <h2>Nuestra Historia</h2>
            <p class="pD">
                Iniciamos como un pequeño emprendimiento con una gran visión: proporcionar servicios de 
                limpieza excepcionales. A lo largo de los años, hemos crecido y nos hemos adaptado a las 
                necesidades de nuestros clientes, manteniendo siempre nuestro compromiso con la excelencia y la 
                satisfacción del cliente.
            </p>

                <hr class="hR">

            <h2>
                Misión
            </h2>
            <p class="pD">
                Nuestra misión es proporcionar servicios de limpieza superiores que superen las 
                expectativas de nuestros clientes. Nos dedicamos a crear ambientes limpios, seguros y 
                saludables utilizando técnicas avanzadas y productos ecológicos.
            </p>

                <hr class="hR">

            <h2>
                Visión
            </h2>
            <p class="pD">
                Nuestra visión es ser líderes en el sector de limpieza, reconocidos por nuestra calidad, 
                innovación y compromiso con el medio ambiente. Aspiramos a expandir nuestros servicios y 
                establecer nuevos estándares en la industria de la limpieza profesional.
            </p>

                <hr class="hR">

            <h2>
                Aspectos Laborales
            </h2>
            <p class="pD">
                En J&MDCleaning, valoramos a nuestro equipo de trabajo. Fomentamos un ambiente laboral 
                positivo y de respeto, donde cada miembro tiene la oportunidad de crecer y desarrollarse 
                profesionalmente. Nos comprometemos a proporcionar formación continua, condiciones laborales 
                justas y un entorno seguro para todos nuestros empleados.
            </p>

                <hr class="hR">
            <!--acerca de nosotros-->
            
            <!--Carrusel-->
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/usuarios/usuario3.png' %}" alt="User Photo" class="user-photo">
                        <div class="review-content">
                            <h3 class="user-name">Manuel Hernandez</h3>
                            <p class="user-message">Gracias a J&MDCleaning, mis alfombras se ven como nuevas. ¡Servicio impecable!</p>
                            <p class="user-rating">Calificación: ★★★★</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/usuarios/usuario4.png' %}" alt="User Photo" class="user-photo">
                        <div class="review-content">
                            <h3 class="user-name">Lorena Gomez</h3>
                            <p class="user-message">Estoy muy contento con la limpieza de mis muebles. ¡Totalmente recomendados!</p>
                            <p class="user-rating">Calificación: ★★★★</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/usuarios/usuario5.png' %}" alt="User Photo" class="user-photo">
                        <div class="review-content">
                            <h3 class="user-name">Mateo Escobar</h3>
                            <p class="user-message">¡Excelente trabajo en mis colchones! Adiós manchas y olores, hola frescura.</p>
                            <p class="user-rating">Calificación: ★★★</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-indicators">
                    <span class="dot active" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
            <!--Carrusel-->
        </div>
    </center>
    
{% endblock %}