{% extends 'base.html' %}
{% load static %}

{% block title %}Acerca de - JyMCleanning{% endblock %}

{% block content %}

<table class="tablaD">
    <tr>
        <td>
            <img src="{% static 'img/cerca/ejemplo.png' %}" >
        </td>
        <td>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nemo saepe odio vero nulla nesciunt nostrum praesentium eaque sequi dignissimos, nihil eos. Quam tempora id iste, aperiam ipsa nemo doloribus!
                Voluptatum ipsam asperiores quaerat iste natus qui perspiciatis hic mollitia, recusandae reprehenderit a dolores deleniti fugit eum id dolorem officiis voluptatem maiores totam! Asperiores aliquid sequi reiciendis qui, distinctio architecto?
                Reprehenderit esse maxime consequuntur, beatae, consequatur voluptates, unde nulla quo earum sed debitis eos saepe temporibus pariatur magni culpa sunt deleniti quasi ab! Quas, ad? Quaerat aliquid aut molestiae voluptatibus.
                Nam fugiat laboriosam illum repudiandae consequuntur! Corporis excepturi optio sunt dicta sapiente aperiam omnis pariatur nostrum. Nam quis dolor similique debitis accusantium? Tenetur similique quasi perspiciatis nemo numquam, laudantium dicta.
                Ex, neque! Porro adipisci consequuntur praesentium asperiores nesciunt recusandae commodi minus fugit inventore ea totam eius perspiciatis suscipit cumque, excepturi voluptas obcaecati repellendus. Quasi cumque quae, iusto suscipit nam velit.
                Quod doloribus corporis iste quaerat autem libero officia quasi dolorum assumenda magni. Itaque, magnam? Temporibus quidem, est dolorem quas excepturi porro expedita tenetur quod sunt aliquam saepe architecto consequatur cum?
                Eaque dolore, impedit praesentium quis incidunt magni? Culpa quia in quas possimus molestias deleniti labore dolore obcaecati, dignissimos beatae ex veritatis atque illum libero numquam sequi ipsum maxime. Quidem, quisquam.
                Cumque officiis ipsam quaerat odio esse quos aliquid temporibus quia sit nostrum culpa modi sunt placeat ut, numquam laborum exercitationem magnam praesentium nulla maiores amet, perspiciatis quidem! Harum, earum quisquam!
            </p>
        </td>
    </tr>
</table>

{% endblock %}