{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - JyMCleanning{% endblock %}

{% block content %}
<center>
    <img class="ban" src="{% static 'img/banners/ban.png' %}" >
    
    <div class="cajonD">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ullam, recusandae quis eaque accusamus tempore voluptate aperiam ipsam nisi architecto, facilis ex illum consequatur porro repudiandae ipsum rerum ducimus placeat.
            Magnam voluptatum, quo tenetur ducimus fugit aliquam! Eaque neque aliquid ipsa ea aspernatur. Sequi dolores, quae, rem autem natus praesentium sint consectetur tempora facere nostrum est animi culpa provident a!
            Dolor soluta quidem quod corporis, laboriosam facilis hic ipsam beatae numquam iusto optio cupiditate aliquam. Accusamus illo eos molestias vel nobis iusto sed praesentium ea accusantium, doloremque et fuga facere?
            Eveniet, asperiores laboriosam. Expedita sit quia delectus iste error impedit dolor perspiciatis illo et corrupti, nemo, commodi nihil? Voluptas molestias dolorem ducimus eveniet voluptate deleniti quos id beatae aperiam! Laborum.
            Expedita, voluptatibus corporis, maxime qui repellendus laudantium sequi porro a ducimus omnis deleniti aspernatur error voluptates eaque accusantium dolorem incidunt et. Qui animi, corporis architecto accusamus nihil pariatur natus suscipit.
            Totam dolores et cupiditate libero exercitationem, temporibus at obcaecati dignissimos magnam non quo asperiores esse dolor vel molestiae recusandae, nostrum voluptates cum. Distinctio quo recusandae numquam aspernatur, omnis consectetur ratione.
            Quam qui iusto accusantium dicta enim veniam provident quae, veritatis non delectus earum error eum soluta magnam dignissimos, praesentium porro dolore. Ratione modi voluptatum, possimus exercitationem corrupti cupiditate quasi consequuntur!
            Rerum deleniti provident amet nemo quisquam assumenda, neque recusandae tenetur impedit repellendus sapiente sed nobis est error eveniet obcaecati doloribus repudiandae explicabo! Aperiam repudiandae, nobis dolorum fugiat rem sequi tenetur.
        </p>
        <img class="icon" src="{% static 'img/icons/icon-Jym.png' %}" >
        
    </div>
    <table class="tabla-menu">
        <tr>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eaque, nobis quasi deleniti unde officiis, vel eius magnam obcaecati minus vitae, ipsum ab saepe velit! Dolor, placeat a. Reprehenderit, laborum?
            Cumque quia, laboriosam id similique voluptatibus excepturi suscipit consectetur explicabo ipsum! Quisquam, modi dicta rem corrupti id sunt sapiente? Eligendi aperiam aliquam quasi velit dolores quas eum at iure culpa.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at facere animi libero doloremque quod, reprehenderit eius tempora ducimus minima itaque soluta pariatur, esse sequi laudantium mollitia! Saepe, laborum quo!
            Repellendus nam ratione repellat minus quis a dignissimos veniam cupiditate, deserunt architecto ipsum dolor beatae? A autem natus optio dignissimos magni, nobis tempore ex neque reprehenderit quo numquam veritatis voluptates.</td>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illo laudantium accusantium ullam explicabo a amet cum harum qui tempore aliquid facilis alias earum nobis, voluptatibus quia atque magnam necessitatibus!
            Voluptas, unde nesciunt ut iste magnam doloremque iusto veniam. Nemo labore placeat, nobis, voluptate consectetur quos dolore praesentium tempore unde voluptas porro provident ullam dignissimos ex? Repellat debitis qui unde.</td>
        </tr>
    </table>

    <div class="cajonD">
        <h2>Titulo</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ullam, recusandae quis eaque accusamus tempore voluptate aperiam ipsam nisi architecto, facilis ex illum consequatur porro repudiandae ipsum rerum ducimus placeat.
            Magnam voluptatum, quo tenetur ducimus fugit aliquam! Eaque neque aliquid ipsa ea aspernatur. Sequi dolores, quae, rem autem natus praesentium sint consectetur tempora facere nostrum est animi culpa provident a!
            Dolor soluta quidem quod corporis, laboriosam facilis hic ipsam beatae numquam iusto optio cupiditate aliquam. Accusamus illo eos molestias vel nobis iusto sed praesentium ea accusantium, doloremque et fuga facere?
            Eveniet, asperiores laboriosam. Expedita sit quia delectus iste error impedit dolor perspiciatis illo et corrupti, nemo, commodi nihil? Voluptas molestias dolorem ducimus eveniet voluptate deleniti quos id beatae aperiam! Laborum.
            Expedita, voluptatibus corporis, maxime qui repellendus laudantium sequi porro a ducimus omnis deleniti aspernatur error voluptates eaque accusantium dolorem incidunt et. Qui animi, corporis architecto accusamus nihil pariatur natus suscipit.
            Totam dolores et cupiditate libero exercitationem, temporibus at obcaecati dignissimos magnam non quo asperiores esse dolor vel molestiae recusandae, nostrum voluptates cum. Distinctio quo recusandae numquam aspernatur, omnis consectetur ratione.
            Quam qui iusto accusantium dicta enim veniam provident quae, veritatis non delectus earum error eum soluta magnam dignissimos, praesentium porro dolore. Ratione modi voluptatum, possimus exercitationem corrupti cupiditate quasi consequuntur!
            Rerum deleniti provident amet nemo quisquam assumenda, neque recusandae tenetur impedit repellendus sapiente sed nobis est error eveniet obcaecati doloribus repudiandae explicabo! Aperiam repudiandae, nobis dolorum fugiat rem sequi tenetur.
        </p>
        
        
    </div>
</center>

{% endblock %}