{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - JyMCleanning{% endblock %}

{% block content %}
<center>
    <img class="ban" src="{% static 'img/banners/ban.png' %}" >
    
    <div class="cajonD">
        <p>
            En nuestra empresa, nos dedicamos a ofrecer los mejores servicios de limpieza para satisfacer todas sus necesidades. 
            Limpiamos alfombras, tapetes, colchones, muebles, sillones, comedores y todo tipo de acolchados con la mayor dedicación y profesionalismo. 
            Con más de 20 años de experiencia en el lavado y cuidado de textiles, nuestro equipo de profesionales garantiza resultados 
            impecables y un ambiente limpio y saludable para su hogar o negocio. Utilizamos técnicas y productos de alta calidad para asegurar que cada 
            rincón de sus espacios luzca como nuevo. Confíe en nosotros para mantener sus espacios en las mejores condiciones posibles.
        </p>
        <img class="icon" src="{% static 'img/icons/icon-Jym.png' %}" >
        
    </div>
    <table class="tabla-menu">
        <tr>
            <td>
                <h2>Promoción 1: Paquete Hogar Impecable</h2>
                <p>
                    Incluye limpieza de alfombras, tapetes y muebles. Obtenga un 20% de descuento al contratar la limpieza de estos tres servicios juntos. 
                    Ideal para mantener su hogar en las mejores condiciones y disfrutar de un ambiente fresco y limpio.
                </p>
            </td>
            <td>
                <h2>Promoción 2: Descuento de Bienvenida</h2>
                <p>
                    Si es la primera vez que utiliza nuestros servicios, le ofrecemos un 15% de descuento en la limpieza de colchones y sillones. 
                    Confíe en nuestro equipo profesional con más de 20 años de experiencia para brindarle resultados impecables desde el primer servicio.
                </p>
            </td>
            <td>
                <h2>Promoción 3: Servicio Empresarial</h2>
                <p>
                    Contrate la limpieza mensual de todos sus espacios de oficina, incluyendo alfombras, muebles y comedores, y reciba un 25% de descuento en el primer mes. 
                    Mantenga su ambiente de trabajo limpio y saludable con nuestro servicio especializado y regular.
                </p>
            </td>
        </tr>
    </table>

    <div id="contact" class="cajonD">
        <h2>Contactanos!</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ullam, recusandae quis eaque accusamus tempore voluptate aperiam ipsam nisi architecto, facilis ex illum consequatur porro repudiandae ipsum rerum ducimus placeat.
            Magnam voluptatum, quo tenetur ducimus fugit aliquam! Eaque neque aliquid ipsa ea aspernatur. Sequi dolores, quae, rem autem natus praesentium sint consectetur tempora facere nostrum est animi culpa provident a!
            Dolor soluta quidem quod corporis, laboriosam facilis hic ipsam beatae numquam iusto optio cupiditate aliquam. Accusamus illo eos molestias vel nobis iusto sed praesentium ea accusantium, doloremque et fuga facere?
            Eveniet, asperiores laboriosam. Expedita sit quia delectus iste error impedit dolor perspiciatis illo et corrupti, nemo, commodi nihil? Voluptas molestias dolorem ducimus eveniet voluptate deleniti quos id beatae aperiam! Laborum.
            Expedita, voluptatibus corporis, maxime qui repellendus laudantium sequi porro a ducimus omnis deleniti aspernatur error voluptates eaque accusantium dolorem incidunt et. Qui animi, corporis architecto accusamus nihil pariatur natus suscipit.
            Totam dolores et cupiditate libero exercitationem, temporibus at obcaecati dignissimos magnam non quo asperiores esse dolor vel molestiae recusandae, nostrum voluptates cum. Distinctio quo recusandae numquam aspernatur, omnis consectetur ratione.
            Quam qui iusto accusantium dicta enim veniam provident quae, veritatis non delectus earum error eum soluta magnam dignissimos, praesentium porro dolore. Ratione modi voluptatum, possimus exercitationem corrupti cupiditate quasi consequuntur!
            Rerum deleniti provident amet nemo quisquam assumenda, neque recusandae tenetur impedit repellendus sapiente sed nobis est error eveniet obcaecati doloribus repudiandae explicabo! Aperiam repudiandae, nobis dolorum fugiat rem sequi tenetur.
        </p>
        
        
    </div>
</center>

{% endblock %}