{% extends 'base.html' %}
{% load static %}

{% block title %}Términos y condiciones - JyMDCleanning{% endblock %}

{% block content %}

    <div class="cajonD">
        <h1 style="text-align: center;">Términos y Condiciones de J&MDCleaning</h1>
        <p>Bienvenido a J&MDCleaning. Al utilizar nuestros servicios, aceptas cumplir con los siguientes términos y condiciones. Por favor, léelos detenidamente.</p>

        <h2>1. Aceptación de los Términos</h2>
        <p>Al acceder y utilizar los servicios de J&MDCleaning, aceptas estar obligado por estos términos y condiciones, 
            así como por nuestra política de privacidad. Si no estás de acuerdo con alguno de estos términos, no utilices nuestros servicios.
        </p>

        <h2>2. Descripción del Servicio</h2>
        <p>J&MDCleaning ofrece servicios de limpieza profesional para alfombras, colchones, muebles, sillones, comedores y todo tipo de acolchados. 
            Nuestro objetivo es proporcionar un servicio de alta calidad para satisfacer las necesidades de limpieza de nuestros clientes.
        </p>

        <h2>3. Uso del Servicio</h2>
        <p>
            ■ Reservas: Puedes reservar nuestros servicios a través de nuestro sitio web. Las reservas están sujetas a disponibilidad. <br>
            ■ Cancelaciones: Las cancelaciones deben realizarse con al menos 24 horas de antelación. En caso contrario, se aplicará una tarifa de cancelación.<br>
            ■ Acceso: Debes proporcionar acceso adecuado a la propiedad para la realización de los servicios contratados.<br>
        </p>

        <h2>4. Tratamiento de Datos</h2>
        <p>
            ■ Recopilación de Datos: Recopilamos información personal, como nombre, dirección, número de teléfono y correo electrónico, para proporcionar y mejorar nuestros servicios.<br>
            ■ Uso de Datos: Utilizamos tus datos personales para gestionar tus reservas, comunicarnos contigo y mejorar nuestra oferta de servicios.<br>
            ■ Protección de Datos: Implementamos medidas de seguridad para proteger tu información personal. No compartimos tus datos con terceros sin tu consentimiento, excepto cuando sea necesario para proporcionar el servicio o cuando la ley lo requiera.<br>
            ■ Derechos del Usuario: Tienes derecho a acceder, rectificar y eliminar tu información personal. Para ejercer estos derechos, por favor contáctanos a través de nuestros canales de atención al cliente.<br>
        </p>

        <h2>5. Responsabilidades del Usuario</h2>
        <p>
            ■ Información Veraz: Debes proporcionar información veraz y completa al realizar una reserva.<br>
            ■ Uso Adecuado: No debes utilizar nuestros servicios para actividades ilegales o no autorizadas.<br>
        </p>

        <h2>6. Limitación de Responsabilidad</h2>
        <p>
            J&MDCleaning no será responsable de daños directos, indirectos, incidentales, especiales o consecuentes que resulten del uso o la 
            imposibilidad de usar nuestros servicios.
        </p>

        <h2>7. Modificaciones a los Términos</h2>
        <p>
            Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Te notificaremos sobre cualquier cambio publicando los términos actualizados en nuestro sitio web. 
            El uso continuo de nuestros servicios después de dichos cambios constituye tu aceptación de los nuevos términos.
        </p>

        <h2>8. Contacto</h2>
        <p>Si tienes alguna pregunta o inquietud sobre estos términos y condiciones, por favor contáctanos a través de [tu correo electrónico] o [tu número de teléfono].</p>

    </div>
{% endblock %}