html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(img/backgrounds/background1.png);
    background-repeat: no-repeat;
    background-size: cover;

    
    /*rgb(200, 219, 238)*/
}
/*

*/

/*----------------------Cabecera------------------------*/
header {
    
    color: white;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 10%;
}

.header-table {
    width: 100%;
    border-collapse: collapse;
}

.header-table td {
    padding: 10px;
    vertical-align: middle;
    
}

.icon {
    width: 90px;
    height: 90px;
    float: right;

}

.icon img {
    width: auto; /* Ajusta el tamaño de la imagen al 100% de la celda contenedora */
    height: auto; /* Mantén la proporción de la imagen */
    max-width: 150px; /* Tamaño máximo de la imagen */
    max-height: 150px; /* Tamaño máximo de la imagen */
}

.button button {
    padding: 10px 20px;
    background-color: #3359f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button button:hover {
    background-color: #2546cb;
}

/*--------------------Navegador------------------------*/
nav {
    margin-top: 10px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra el menú horizontalmente */
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(76, 92, 212);
    padding: 10px 20px;
    /*background-color: #3359f0;*/
    border-radius: 5px;
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
    display: inline-block;
}

.nav-menu a:hover {
    /*background-color: #2546cb;*/
    color: rgb(32, 51, 195);
    transform: scale(1.5); /* Agranda el botón a 1.5 veces su tamaño original */

}
/*-----------------------Clases------------------------------------*/
.cajonD{
    background-color: #ffffff;
    margin: 30px;
    color: #141414;
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;
}

.ban{
    margin-top: 15px;
}
/*-----------------------Tabla menu------------------------------------*/
.tabla-menu {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px; /* Espacio entre las celdas */
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.tabla-menu td {
    padding: 20px;
    text-align: center;
    background-color: #e0e0e0;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s; /* Animación suave para el efecto hover */
}

.tabla-menu td:hover {
    transform: scale(1.05); /* Agranda un poco la celda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra */
}
/*-----------------------Tabla menu------------------------------------*/

/*-----------------------Fin Clases------------------------------------*/

/*-----------------------Form------------------------------------*/
/* Contenedor del formulario */
.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto; /* Centra el formulario horizontalmente */
    text-align: center;
}

/* Título del formulario */
.form-container h2 {
    margin-bottom: 20px;
    color: #333333;
}

/* Campos de entrada */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
}

/* Botón de envío */
.form-container button {
    background-color: rgb(76, 92, 212);
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover para el botón de envío */
.form-container button:hover {
    background-color: rgb(32, 51, 195);
}

/*-----------------------pie------------------------------------*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /* Este hace que el contenido principal tome el espacio disponible */
}

footer {
    background-color: #346ec4;
    color: white;
    padding: 10px;
    text-align: center;
}


.navbar {
    width: 97%; /* Ancho fijo para el menú vertical */
    background-color: #678cc4;
    border-radius: 25px;
    padding: 10px 20px;
    color: white;
}

.nav-table {
    width: 100%;
    border-collapse: collapse;
}

.nav-table td {
    vertical-align: top; /* Alineación superior para que los elementos estén alineados arriba */
}

.menu-container {
    width: 80px;
}

.custom-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    display: block; /* Mostrar los enlaces como bloques para ocupar todo el ancho */
    transition: background-color 0.3s, color 0.3s;
}

.custom-menu a:hover {
    background-color: #555;
    color: rgb(32, 51, 195);
}

.contact-info {
    text-align: right; 
}

.contact-info p {
    margin: 0;
    padding: 0;
}